# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5132730c9a7259e8b0257fa2cbcd7b8d7c19cc32b076a8071edb40416c8c093776ed0c5a8cf2c7fe16caa58d4d1db8a238c6f4515e9a5d24f0317e848bf6d67c

test:
  secret_key_base: 46c27f386452cd2a50abb56466c5e3b28889b86c4a706c4ece11ca9ae239d9505956e6fabfff8a690e6c99af63d2efa1ed6f98f0d6cd3ca223b3556c8671ca62

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
